// Media Queries
$mq-375-down: "only screen and (max-width: 371px)";
$mq-375-up: "only screen and (min-width: 377px)";   

$mq-600-down: "only screen and (max-width: 599px)";
$mq-600-up: "only screen and (min-width: 600px)";

$mq-1000-down: "only screen and (max-width: 999px)";
$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-685-up: "only screen and (min-width: 685px)";

$mq-850-up: "only screen and (min-width: 850px)";

$mq-1180-up: "only screen and (min-width: 1180px)";

$mq-1400-down: "only screen and (max-width: 1399px)";
$mq-1400-up: "only screen and (min-width: 1400px)";

$mq-1440-up: "only screen and (min-width: 1440px)";